@model User_Profile.Models.HomeIndexViewModel
@using UserProfileLib.Business

Home index view model goes here

@{
    ViewData["viewName"] = "Update";
    ViewData["avatars"] = Model.avatars;    
}

@section LogoffButton{
    @Html.Partial("LogoffButton")
}

@section NavStyle{
    <style>
    @{int i = 0;}
    @foreach(var row in Model.navSection){
        i++;
        <text> #navRow_@i .navLink{ width: @((double) (99.8-row.Count()*0.4)/row.Count())%; } </text>
    }
    </style>
}

@section NavSection{
    @Html.Partial("NavSection", Model.navSection)
}

<h2>User Profile:</h2>
@if(Model.profile == null){
    <span>You have not created a user profile, please do so now:</span>
    @Html.Partial("UserProfile/UserProfile_Create", new BUser_Profile { username = User.Identity.Name })
}
else{
    @Html.Partial("UserProfile/UserProfile_Update", Model.profile)
}