@model UserProfileLib.Business.BUser_Profile
@using User_Profile.Helpers

@{Model.Format();}

@using (Html.BeginForm("UserProfile_Update", "Home", FormMethod.Post, 
    new {
        @id = "UserProfileUpdate_" + Model.User_Profile_ID,
        @class = "UserProfileUpdate PartialUpdateForm"
    })) { 
    <span class="validationError">@Model.ValidationErrors["Data"]</span>
    @Model.ValidationErrors["Data"].ValidationSection()
    
    <input type="hidden" value="@Model.User_Profile_ID" name="User_Profile_ID"/>
    @Model.ValidationErrors["User_Profile_ID"].ValidationSection()
    
    <input type="hidden" value="@Model.Avatar_ID" name="Avatar_ID"/>
    @Model.ValidationErrors["Avatar_ID"].ValidationSection()
    
    <input type="hidden" value="@Model.username" name="username"/>
    @Model.ValidationErrors["username"].ValidationSection()
    
    <input type="text" name="Long_Alias" value="@Model.Long_Alias" placeholder="Long Alias"
           maxlength="32"/>
    @Model.ValidationErrors["Long_Alias"].ValidationSection()
    
    <input type="text" name="Short_Alias" value="@Model.Short_Alias" 
           placeholder="Short Alias" maxlength="4"/>
    @Model.ValidationErrors["Short_Alias"].ValidationSection()
    
    <input type="submit" value="Update User Profile" />
}